* {
    margin: 0;
    padding: 0;
}

a {
    cursor: url(../css/cursor\ \(1\).cur), auto;
}

html {
    font-size: 0.8px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.header-line {
    width: 100%;
    background-color: #1f1f56;
    padding: 15.5px 0;
    z-index: 2;
}

.header-line > div{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 30px;
}

.header-line ul {
    display: flex;
    column-gap: 25rem;
}

.top-line-navigation ul{
    display: block;
}

.header-line ul:last-child {
    column-gap: 22rem;
}

.header-line-wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 960rem;
}

.burger {
    position: relative;
    display: block;
    top: 8rem;
    width: 23rem;
}


.burger span,
.burger span:before,
.burger span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2rem;
    transition: 0.3s;
}

.active {
    padding: 0;
    padding-bottom: 8rem;
}

div.active span::before {
    top: 3rem;
    transform: rotate(45deg);
    transition: 0.3s;
}

div.active span::after {
    bottom: -3rem;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.active span {
    background-color: transparent;
}

.burger span:before {
    top: -7rem;
}

.burger span:after {
    bottom: -7rem;
}

.top-line-navigation {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    column-gap: 32rem;
    background-color: #16163f;
    text-align: center;
    padding: 15px 0;
    z-index: 3;
    transition: 0.5s;
}

.top-line-navigation a {
    color: #b1b1d2;
    font-size: 14rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
    transition: 0.2s;
}

.top-line-navigation a:hover {
    color: #fd8300;
}

.logo img {
    width: 220rem;
    height: 57rem;
}

a.PhoneLogo,
a.PhoneLogo1 {
    background-image: url(../css/img/sprites.png);
    background-position: -52rem 126rem;
    width: 17rem;
    height: 17rem;
}


.PhoneNumbers a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}


.Number1 {
    margin-bottom: 12rem;
}

.PhoneNumbers a:hover {
    text-decoration: underline;
}

.PhoneNumbers1 a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
}

.PhoneNumbers1 a:hover {
    text-decoration: underline;
}


.skype1 a:hover {
    text-decoration: underline;
}

.email,
.skype {
    display: flex;
    column-gap: 12rem;
}

.email {
    margin-bottom: 12rem;
}

.email a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
}

.email a:hover {
    text-decoration: underline;
}

.skype a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
}

.skype a:hover {
    text-decoration: underline;
}

.tel,
.mail,
.skype {
    position: relative;
}

.tel:before,
.mail:before,
.skype:before {
    content: '';
    position: absolute;
    left: -29px;
    top: 3rem;
    background-image: url(../css/img/sprites.png);
}

.tel:before {
    height: 17px;
    width: 16px;
    background-position: -53px 0;
}

.mail:before {
    height: 13px;
    width: 17px;
    background-position: -71px 0;
}

.skype:before {
    height: 19px;
    width: 18px;
    background-position: -90px 0;
}


.line {
    position: relative;
}

.sociality-messengers {
    display: flex;
    column-gap: 25rem;
    align-items: center;
}

.sociality-messengers a {
    display: block;
    transition: 0.5s;
}

.fb,
.tw,
.inst {
    background-image: url(../css/img/sprites.png);
}

a.fb {
    background-position: 0px 0;
    width: 10px;
    height: 19px;
}

a.tw {
    background-position: -12px 0;
    width: 18px;
    height: 17px;
}

a.inst {
    background-position: -32px 0;
    width: 19px;
    height: 19px;
}

a.fb:hover {
    background-position: 0 -20px;
}

a.tw:hover {
    background-position: -12px -20px;
}

a.inst:hover {
    background-position: -32px -20px;
}



a {
    text-decoration: none;
}

.top-line-contacts {
    align-items: center;
    padding: 30px 0;
}

header{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.top-line-contacts div{
    justify-content: center;
    column-gap: 27px;
    row-gap: 18px;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    width: 91%;
    max-width: 960rem;
}

footer .contacts,
footer .messenger{
    padding-left: 24px;
}

.contacts,
.messenger {
    padding-left: 38px;
}

.contacts p:first-child,
.messenger p:first-child {
    margin-bottom: 10px;
}

.contacts a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.messenger a:hover {
    text-decoration: underline;
}

.phone,
.email,
.skype {
    position: relative;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: -29rem;
    background: url(../css/img/sprites.png);
}

.skype::before {
    top: 0;
}

.phone::before {
    background-position: -53px 0;
    width: 16px;
    height: 17px;
}


.email::before {
    background-position: -71px 0;
    width: 17px;
    height: 13px;
}

.messenger a {
    color: #25252c;
    font-size: 16rem;
}

.skype::before {
    background-position: -90px 0;
    width: 18px;
    height: 19px;
}

.cta a {
    display: inline-block;
    padding: 14rem 30rem;
    background-color: #fff;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    border-radius: 28rem;
    border: 2rem solid #fd8300;
    transition: 0.5s;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;

}

.email1,
.skype1 {
    display: flex;
    column-gap: 12rem;
}

.email1 a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
}

footer {
    margin-top: 45px;
}

.FooterWrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 920rem;
}

.ContactsFooter li>a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.ContactsFooter > div{
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 18px;
}

.TheBestMonthOffer sup {
    font-size: 15rem;
}

sup {
    font-size: 8rem;
}

.CallButton {
    margin-top: 12rem;
}

.CallButton a {
    padding: 14rem 27rem 16rem 27rem;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    font-family: "Arial";
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #fd8300;
    text-decoration: none;
    line-height: 24rem;
    transition: 0.5s;
}

.CallButton a:hover {
    color: #fff;
    background-color: #fd8300;
}

#image1 {
    width: 100%;
    height: 200rem;
}

.TheBestMonthOffer {
    width: 100%;
    padding-bottom: 35px;
    text-align: center;
    background: #211f15 url(../css/img/MonthProposition.jpg) center / cover;
}

.TheBestMonthOfferText {
    padding-top: 37rem;
    width: 90%;
    margin: auto;
}

.MonthOfferPrice {
    display: flex;
    justify-content: space-between;
    width: 185rem;
    margin: auto;
}

.TheBestMonthOfferText p:last-child {
    font-size: 24rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top: 15rem;
}

.TheBestMonthOffer h2 {
    color: #ffffff;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 2rem;
    line-height: 55rem;
}

.TheBestMonthOffer p {
    color: #ffffff;
    font-size: 14rem;
    font-family: "Arial";
    line-height: 24rem;
}

.TheBestMonthOffer h3 {
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
    font-family: "Arial";
    line-height: 60rem;
}

main {
    margin-bottom: 50rem;
}

.flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap-reverse;
}

.HataPlusAbout {
    padding-top: 20rem;
}

h1 {
    color: #24242b;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 40rem;
    margin-bottom: 15rem;
}
    
article {
    margin: auto;
    width: 100%;
    padding-bottom: 20rem;
}

article p {
    color: #666666;
    font-size: 14rem;
    font-family: "Arial";
    line-height: 24rem;
    margin-bottom: 20px;
}

article a {
    color: #fd8300;
    font-size: 14rem;
    margin-bottom: 22rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: underline;
}

article a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
}

aside {
    display: block;
    top: 35px;
    padding-top: 37rem;
    width: 100%;
}

.TextAndAside {
    display: block;
    width: 100%;
}

.texasside{
    justify-content: space-between;
}

.aside-bar {
    top: 35rem;
    width: 100%;
    border-radius: 3rem;
    overflow: hidden;
}

.aside-bar p {
    width: 100%;
    color: #fff;
    padding: 12rem 15rem;
    margin: 0;
    font: bold 16rem "Roboto Slab";
    background-color: #1f1f56;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-bar>li>a {
    position: relative;
    color: #25252c;
}


.menu-bar a {
    display: block;
    font-size: 14rem;
    background-color: #e4e4ec;
    padding: 12rem 15rem;
}

.menu-bar>li:hover>a {
    color: #fff;
    background-color: #fd8300;
}

ul.sub-menu a {
    padding-left: 30rem;
    color: #666;
}

.sub-menu {
    max-height: 0;
    visibility: hidden;
}



.menu-bar a {
    display: block;
    padding: 12rem 15rem;
    font-size: 14rem;
    background-color: #e4e4ec;
}

.menu-bar>li>a:before {
    content: '';
    position: absolute;
    top: 16rem;
    right: 15rem;
    width: 7rem;
    height: 7rem;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(-45deg);
}

.menu-bar>li:hover a:before {
    border-bottom-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.menu-bar a {
    display: block;
    padding: 12rem 15rem;
    font-size: 14rem;
    background-color: #e4e4ec;
}

.menu-bar li:hover .sub-menu {
    max-height: 1000rem;
    visibility: visible;
    transition: max-height 1.5s ease;
}

.menu-bar>li+li>a {
    border-top: 1px solid #cdcddd;
}

.sub-menu a:hover {
    background-color: #cecedd;
}

.hr {
    margin: auto;
    max-width: 960rem;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #e4e4ec;
}

.OurHouses h2 {
    text-align: center;
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 80rem;
}


.figures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;
    row-gap: 30px;
}

figure {
    position: relative;
}

.figures h4 {
    margin-top: 15rem;
    color: #1f1f56;
    font-size: 14rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Arial";
    line-height: 24rem;
    transition: 0.5s;
}

.figures b {
    text-transform: lowercase;
}

.figures p {
    width: 220rem;
    color: #9999a6;
    font-size: 13rem;
    font-family: "Arial";
    line-height: 18rem;
}

figure img {
    width: 250px;
    max-height: 142px;
    object-fit: cover;
}

.figurehref {
    position: absolute;
    width: 100%;
    height: 100%;
}

.figurehref:hover~h4 {
    text-decoration: underline;
}

.ContactsFooter {
    padding-top: 40rem;
    padding-bottom: 30rem;
    background-color: #ededf5;
}

.ContactsFooter li>a {
    color: #666666;
    font-size: 14rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 26rem;
}

.copyright {
    height: 45rem;
    text-align: center;
    background-color: #dcdce6;
}

.copyright p {
    padding-top: 15rem;
    color: #9999a6;
    font-size: 13rem;
    font-family: "Arial";
    line-height: 18rem;
}

.burger div {
    margin: 6rem 0;
    width: 35rem;
    height: 5rem;
    background-color: black;

}

/* index2.html */

.OurBuilds{
    text-align: center;
}

.OurBuilds,
.contacts-and-geo {
    margin-top: 40px;
}

.OurBuilds h1 {
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.OurBuilds p {
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
}

.OurBuilds p:last-child {
    font-size: 14rem;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.paragraph {
    margin-top: 22rem;
    margin-bottom: 26rem;
}

.paragraph {
    text-align: left;
}

.table{
    overflow-x: scroll;
}

.table table{
    margin-bottom: 10rem;
}

.table::-webkit-scrollbar{
    height: 13rem;
    background: linear-gradient(to bottom, #fff 40%, #16163f 40%, #16163f 60%, #fff 60%);
}

.table::-webkit-scrollbar-thumb {
    width: 80px;
    border-radius: 10rem;
    background-color: #fd8300;
}

.OurBuilds table {
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

.OurBuilds thead {
    height: 45rem;
    background-color: #1f1f56;
}

.OurBuilds th {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: left;
    padding-left: 20px;
}

.OurBuilds th:last-child {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: right;
    padding-right: 20rem;
}

iframe{
    width: 100%;
    height: 300px;
}

.google-maps{
    width: 100%;
}


.OurBuilds td {
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
    padding-left: 20px;
}

.OurBuilds tbody tr {
    width: 960px;
    height: 41px;
    box-shadow: inset 0px -1px 0px #cecedd;
    background-color: #e4e4ec;
    cursor: url(../css/cursor\ \(1\).cur), auto;
}

.OurBuilds tr>td:last-child {
    text-align: right;
    padding-right: 20px;
}

.OurBuilds tbody tr:hover {
    background-color: #fd8300;
}

.OurBuilds tr.tr6 {
    box-shadow: none;
}

.OurBuilds .tr1:hover>td,
.OurBuilds .tr2:hover>td,
.OurBuilds .tr3:hover>td,
.OurBuilds .tr4:hover>td,
.OurBuilds .tr5:hover>td {
    color: #fff;
}

.OurBuilds a {
    font-size: 14rem;
    line-height: 4em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.OurBuilds a:hover {
    color: #1f1f56;
    text-decoration: none;
}

#hr2 {
    border: none;
    border-top: 1px solid #e4e4ec;
    margin-bottom: 36rem;
}

.paragraph2 {
    margin-top: 20rem;
}

/* index3.html */

.contacts-container {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
}

.container:last-child {
    width: 260px;
}

.container:last-child p {
    margin-bottom: 20rem;
}

.contacts-and-geo h2 {
    font-size: 24rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 27rem;
}

.container h4 {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}


.container p {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
}

.container:first-child a {
    font-size: 18rem;
    line-height: 1.65em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}



.container a {
    font-size: 18rem;
    line-height: 1.95em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.container a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.phones-container {
    width: 210rem;
}

.container a.mailto {
    font-size: 16rem;
    line-height: 24rem;
    font-weight: normal;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.container a.mailto:hover {
    color: #fd8300;
    text-decoration: none;
}

.p-last {
    width: 216rem;
}

.contacts-geo {
    margin: auto;
    margin-bottom: 33rem;
}

.align-center {
    align-items: center;
}

.geolocation {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 10px;
    justify-content: center;
}

.geolocation table {
    border-spacing: 10px;
}

.geolocation table>td:last-child {
    height: 100px;
}

input {
    max-width: 210rem;
    min-height: 30rem;
    border: none;
    outline: none;
    padding-left: 15rem;
}

input::placeholder,
textarea::placeholder {
    font-size: 13rem;
    line-height: 21rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.callform h4 {
    font-size: 14rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    margin-left: 12rem;
}

.callform th {
    width: 228rem;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.callform td {
    height: 40rem;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.message-tema {
    width: 460px;
}

textarea {
    max-width: 467rem;
    min-height: 110rem;
    padding: 15rem;
    padding-bottom: 5rem;
    border: none;
    outline: none;
    resize: vertical;
}

.contacts-wrap {
    max-width: 960rem;
    flex-wrap: wrap;
    row-gap: 50px;
}

.contacts-wrap .container{
    text-align-last: left;
}

.send a {
    font-size: 14rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
    cursor: url(../css/cursor\ \(1\).cur), auto;
    border-radius: 21px;
    background-color: #fd8300;
    border: 2px solid #fd8300;
    padding: 11rem 29rem;
    transition: 0.2s;
}

.send:hover>a {
    background-color: transparent;
    border: 2px solid #fd8300;
}

.send:hover a {
    color: #000;
}

.bottom-undertable {
    margin-left: 12rem;
    display: flex;
    column-gap: 30rem;
    padding-top: 12rem;
    flex-wrap: wrap-reverse;
    row-gap: 20px;
    justify-content: center;
}


.tick p {
    position: relative;
    top: 3rem;
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.check {
    display: none;
}

.check+label {
    position: relative;
    padding: 0 20rem;
}

.check+label::before,
.check+label::after {
    content: "";
    position: absolute;
}

.check+label::before {
    left: 0;
    top: 3rem;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #c5c5d4;
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label>p {
    margin-left: 25px;
}

.check:checked+label:after {
    top: 8px;
    left: 4.5px;
    width: 8px;
    height: 5px;
    border-left: 2px solid #1f1f56;
    border-bottom: 2px solid #1f1f56;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

textarea {
    font-family: Arial;
}

.callform .tab {
    display: block;
    width: 320px;
    margin: auto;
}

.callform .tab1 {
    display: none;
}

@media screen and (min-width: 580px){
    html{
        font-size: 1px;
    }

    .header-line > div{
        justify-content: space-between;
    }

    .top-line-navigation{
        display: flex;
    }

    .burger{
        display: none;
    }

    .callform .tab {
        display: none;
    }

    .callform .tab1 {
        display: block;
    }

    .OurBuilds{
        text-align: left;
    }

    .top-line-contacts div{
        justify-content: center;
        column-gap: 12px;
        row-gap: 35px;
        flex-wrap: wrap;
    }

    .top-line-navigation{
        position: static;
    }
    .top-line-navigation ul{
        display: flex;
    }

    .top-line-navigation {
        position: static;
        width: auto;
        left: auto;
        top: auto;
        column-gap: 32rem;
        background-color: transparent;
        text-align: center;
        padding: 0;
        z-index: 3;
    }
}


@media screen and (max-width:904px){
    .figures{
        justify-content: center;
    }
}


@media screen and (max-width: 580px){
    .header-line > div {
        justify-content: space-between;
    }

    input {
        max-width: 282px;
    }

}

@media screen and (max-width: 887px){
    .ContactsFooter div {
        justify-content: center;
    }
}

@media screen and (min-width: 1000px){
    figure img {
        width: 220rem;
    }
}

@media screen and (min-width:996px){
    .google-maps{
        width: auto;
    }

    iframe{
        width: 466px;
    }

    .callform{
        width: auto;
    }

    .callform h4 {
        text-align: left;
    }
}

@media screen and (min-width: 1000px){
    div.contacts-geo{
        text-align: left;
        width: 100%;
        max-width: 890rem;
        margin: 0;
    }  

    .geolocation{
        justify-content: space-between;
    }

    .contacts-geo{
        text-align: left;
    }

    .wrapper{
        width: auto;
    }
    
    div.OurHouses h2 {
        text-align: left;
    }

    .TextAndAside{
        max-width: 715rem;
    }

    article{
        width: 90%;
    }
}

@media screen and (min-width: 935px){
    .top-line-contacts div{
        column-gap: 12px;
        row-gap: 35px;
        flex-wrap: wrap;
    }

    .line:before {
        content: '';
        position: absolute;
        left: -18rem;
        width: 1rem;
        height: 51rem;
        background-color: #e4e4ec;
    }

    article{
        text-align: left;
        margin: 0;
    }

    .TheBestMonthOfferText {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 948px){
    .top-line-contacts div{
        justify-content: space-between;
    }
}

@media screen and (min-width:959px){
    .table::-webkit-scrollbar{
        display: none;
        height: 13rem;
        background: linear-gradient(to bottom, #fff 40%, #16163f 40%, #16163f 60%, #fff 60%);
    }
    
    .table::-webkit-scrollbar-thumb {
        display: none;
        width: 80px;
        border-radius: 10rem;
        background-color: #fd8300;
    }
}

@media screen and (min-width: 905px){
    .figures {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:1000px){
    .line::before{
        display: none;
    }
}


@media screen and (min-width:1000px){
    
    .aside-bar {
        position: sticky;
    }

    .top-line-contacts {
        padding-top: 80rem;
    }

    aside{
        width: 220rem;
        margin: 0;
    }

    .aside-bar{
        width: 220rem;
    }

    
    .header-line{
        position: fixed;
    }

    .figures{
        justify-content: space-between;
    }
}

@media screen and (min-width:2200px){
    html{
        font-size: 2px;
    }

    .top-line-contacts{
        padding-top: 60rem;
    }

    .tick p {
        position: relative;
        top: -5px;
        font-size: 13rem;
        line-height: 21rem;
        color: #666666;
        font-family: "Arial";
        text-decoration: none;
    }

    .OurBuilds table {
        min-height: 291rem;
    }

    .container:last-child {
        width: auto;
    }

    .contacts-wrap {
        margin-bottom: 15rem;
    }

    iframe{
        width: 100%;
        min-height: 300rem;
    }

    .google-maps{
        width: 50%;
    }

    figure img {
        width: 220rem;
        max-height: 142rem;
        object-fit: cover;
    }

    .callform td {
        min-width: 200rem;
    }

    .check+label::before {
        left: -10rem;
        top: 3rem;
        width: 15rem;
        height: 15rem;
        border-radius: 3px;
        border: 1px solid #c5c5d4;
    }

    .check:checked+label:after {
        top: 13px;
        left: -11px;
        width: 8rem;
        height: 5rem;
        border-left: 2px solid #1f1f56;
        border-bottom: 2px solid #1f1f56;
        transform: rotate(-45deg);
        box-sizing: border-box;
    }

    .line:before {
        content: '';
        position: absolute;
        left: -34rem;
        width: 1rem;
        height: 51rem;
        background-color: #e4e4ec;
    }

    .OurBuilds th,
    .OurBuilds td {
        padding-left: 20rem;
    }

    .OurBuilds tr>td:last-child {
        padding-right: 20rem;
    }

    a.fb {
        background-position: 0px 0;
        background-size: 1000%;
        width: 10rem;
        height: 19rem;
    }
    
    a.tw {
        background-position: -12rem 0;
        background-size: 600%;
        width: 18rem;
        height: 17rem;
    }
    
    a.inst {
        background-position: -33rem 0;
        background-size: 600%;
        width: 19rem;
        height: 19rem;
    }

    .phone::before {
        background-position: -90px 0;
        background-size: 600%;
        width: 16rem;
        height: 17rem;
    }

    .email::before {
        background-position: -130px 0;
        background-size: 600%;
        width: 17rem;
        height: 13rem;
    }

    .skype::before {
        background-position: -176px 0;
        background-size: 600%;
        width: 18rem;
        height: 19rem;
    }

    .callform h4 {
        font-size: 14rem;
        color: #24242b;
        font-weight: 700;
        font-family: "Roboto Slab";
        text-align: center;
        margin-left: 5rem;
        text-align: left;
    }
}