* {
    margin: 0;
    padding: 0;
}

a {
    cursor: url(../css/cursor\ \(1\).cur), auto;
}

html {
    font-size: 1px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.header-line {
    position: fixed;
    width: 100%;
    background-color: #1f1f56;
    padding: 15.5px 0;
    z-index: 2;
}

.header-line ul {
    display: flex;
    column-gap: 25rem;
}

.header-line ul:last-child {
    column-gap: 22rem;
}

.header-line-wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 960rem;
}

.top-line-navigation {
    display: flex;
    column-gap: 32rem;
}

.top-line-navigation a {
    color: #b1b1d2;
    font-size: 14rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
    transition: 0.2s;
}

.top-line-navigation a:hover {
    color: #fd8300;
}

.HataPlusContacts {
    padding-top: 55px;
    height: 115rem;
    background-color: #fff;
}

.HataPlusContacts1 {
    padding-top: 55px;
    height: 115rem;
    background-color: #fff;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.HataPlusContactsWrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 29rem;
    width: 960rem;
}

.logo img {
    width: 220rem;
    height: 57rem;
}

a.PhoneLogo,
a.PhoneLogo1 {
    background-image: url(../css/img/sprites.png);
    background-position: -52rem 126rem;
    width: 17rem;
    height: 17rem;
}


.PhoneNumbers a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}


.Number1 {
    margin-bottom: 12rem;
}

.PhoneNumbers a:hover {
    text-decoration: underline;
}

.PhoneNumbers1 a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
}

.PhoneNumbers1 a:hover {
    text-decoration: underline;
}


.skype1 a:hover {
    text-decoration: underline;
}

.email,
.skype {
    display: flex;
    column-gap: 12rem;
}

.email {
    margin-bottom: 12rem;
}

.email a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
}

.email a:hover {
    text-decoration: underline;
}

.skype a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
}

.skype a:hover {
    text-decoration: underline;
}

.tel,
.mail,
.skype {
    position: relative;
}

.tel:before,
.mail:before,
.skype:before {
    content: '';
    position: absolute;
    left: -29px;
    top: 3rem;
    background-image: url(../css/img/sprites.png);
}

.tel:before {
    height: 17rem;
    width: 16rem;
    background-position: -53rem 0;
}

.mail:before {
    height: 13px;
    width: 17px;
    background-position: -71rem 0;
}

.skype:before {
    height: 19rem;
    width: 18rem;
    background-position: -90rem 0;
}


.line {
    position: relative;
}

.line:before {
    content: '';
    position: absolute;
    left: -18rem;
    width: 1rem;
    height: 51rem;
    background-color: #e4e4ec;
}

.sociality-messengers {
    display: flex;
    column-gap: 25rem;
}

.sociality-messengers a {
    display: block;
    transition: 0.5s;
}

.fb,
.tw,
.inst {
    background-image: url(../css/img/sprites.png);
}

a.fb {
    background-position: 0px 0;
    width: 10px;
    height: 19px;
}

a.tw {
    background-position: -12rem 0;
    width: 18px;
    height: 17px;
}

a.inst {
    background-position: -32rem 0;
    width: 19px;
    height: 19px;
}

a.fb:hover {
    background-position: 0 -20rem;
}

a.tw:hover {
    background-position: -12rem -20rem;
}

a.inst:hover {
    background-position: -32rem -20rem;
}



a {
    text-decoration: none;
}

.top-line-contacts {
    align-items: center;
    padding: 30px 0;
    padding-top: 80rem;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960rem;
}

.contacts,
.messenger {
    padding-left: 38px;
}

.contacts p:first-child,
.messenger p:first-child {
    margin-bottom: 10px;
}

.contacts a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.messenger a:hover {
    text-decoration: underline;
}

.phone,
.email,
.skype {
    position: relative;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: -29rem;
    background: url(../css/img/sprites.png);
}

.skype::before{
    top: 0rem;
}

.phone::before {
    background-position: -53rem 0;
    width: 16rem;
    height: 17rem;
}


.email::before {
    background-position: -71rem 0;
    width: 17rem;
    height: 13rem;
}

.messenger a {
    color: #25252c;
    font-size: 16rem;
}

.skype::before {
    background-position: -90rem 0;
    width: 18rem;
    height: 19rem;
}

.cta a {
    display: inline-block;
    padding: 14rem 30rem;
    background-color: #fff;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    border-radius: 28rem;
    border: 2rem solid #fd8300;
    transition: 0.5s;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;

}






.email1,
.skype1 {
    display: flex;
    column-gap: 12rem;
}

.email1 a {
    color: #25252c;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 24rem;
}

footer {
    margin-top: 45px;
}

.FooterWrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 920rem;
}

.ContactsFooter li>a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.TheBestMonthOffer sup {
    font-size: 15rem;
}

sup {
    font-size: 8rem;
}

.CallButton {
    margin-top: 12rem;
}

.CallButton a {
    padding: 14rem 27rem 16rem 27rem;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    font-family: "Arial";
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #fd8300;
    text-decoration: none;
    line-height: 24rem;
    transition: 0.5s;
}

.CallButton a:hover {
    color: #fff;
    background-color: #fd8300;
}

#image1 {
    width: 100%;
    height: 200rem;
}

.TheBestMonthOffer {
    width: 100%;
    height: 200rem;
    text-align: center;
    background: #211f15 url(../css/img/MonthProposition.jpg) center / cover;
}

.TheBestMonthOfferText {
    padding-top: 37rem;
}

.MonthOfferPrice {
    display: flex;
    justify-content: space-between;
    width: 185rem;
    margin: auto;
}

.TheBestMonthOfferText p:last-child {
    font-size: 24rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    padding-top: 15rem;
}

.TheBestMonthOffer h2 {
    color: #ffffff;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-transform: uppercase;
    letter-spacing: 2rem;
    line-height: 55rem;
}

.TheBestMonthOffer p {
    color: #ffffff;
    font-size: 14rem;
    font-family: "Arial";
    line-height: 24rem;
}

.TheBestMonthOffer h3 {
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
    font-family: "Arial";
    line-height: 60rem;
}

main {
    margin-bottom: 50rem;
    padding-left: 10%;
    padding-right: 10%;
}


.HataPlusAbout {
    padding-top: 20rem;
    width: 100%;
}

h1 {
    color: #24242b;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 74rem;
}



article {
    width: 670rem;
}

article p {
    height: 90rem;
    color: #666666;
    font-size: 14rem;
    font-family: "Arial";
    line-height: 24rem;
}

article a {
    color: #fd8300;
    font-size: 14rem;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: underline;
    line-height: 55rem;
}

article a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
}

aside {
    position: sticky;
    top: 35px;
    padding-top: 37rem;
    width: 220rem;
    height: 640px;
}

.TextAndAside {
    display: flex;
    margin: auto;
    width: 960rem;
    height: 345rem;
}

.aside-bar {
    position: sticky;
    top: 35rem;
    width: 220rem;
    border-radius: 3rem;
    overflow: hidden;
}

.aside-bar p {
    color: #fff;
    padding: 12rem 15rem;
    margin: 0;
    font: bold 16rem "Roboto Slab";
    background-color: #1f1f56;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-bar > li > a {
    position: relative;
    color: #25252c;
}

.menu-bar a {
    display: block;
    font-size: 14rem;
    background-color: #e4e4ec;
    padding: 12rem 15rem;
}

.menu-bar > li:hover > a {
    color: #fff;
    background-color: #fd8300;
}

ul.sub-menu a {
    padding-left: 30rem;
    color: #666;
}

.sub-menu {
    max-height: 0;
    visibility: hidden;
}

.menu-bar a {
    display: block;
    padding: 12rem 15rem;
    font-size: 14rem;
    background-color: #e4e4ec;
}

.menu-bar > li > a:before {
    content: '';
    position: absolute;
    top: 16rem;
    right: 15rem;
    width: 7rem;
    height: 7rem;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(-45deg);
}

.menu-bar > li:hover a:before {
    border-bottom-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.menu-bar a {
    display: block;
    padding: 12rem 15rem;
    font-size: 14rem;
    background-color: #e4e4ec;
}

.menu-bar li:hover .sub-menu {
    max-height: 1000rem;
    visibility: visible;
    transition: max-height 1.5s ease;
}

.menu-bar > li + li > a {
    border-top: 1px solid #cdcddd;
}

.sub-menu a:hover {
    background-color: #cecedd;
}

.hr {
    margin: auto;
    width: 960rem;
}

hr {
    width: 713rem;
    border: none;
    border-top: 1px solid #e4e4ec;
}

.OurHouses h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 80rem;
}


.figures {
    display: flex;
    width: 730rem;
    column-gap: 28rem;
}

figure {
    position: relative;
}

.figures h4 {
    margin-top: 15rem;
    color: #1f1f56;
    font-size: 14rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Arial";
    line-height: 24rem;
    transition: 0.5s;
}

.figures b{
    text-transform: lowercase;
}

.figures p {
    width: 220rem;
    color: #9999a6;
    font-size: 13rem;
    font-family: "Arial";
    line-height: 18rem;
}

figure img {
    width: 220rem;
    height: 150rem;
}

.figurehref {
    position: absolute;
    width: 100%;
    height: 100%;
}

.figurehref:hover~h4 {
    text-decoration: underline;
}

.ContactsFooter {
    padding-left: 10%;
    padding-right: 12%;
    padding-top: 40rem;
    height: 160rem;
    background-color: #ededf5;
}

.ContactsFooter li>a {
    color: #666666;
    font-size: 14rem;
    font-family: "Arial";
    text-decoration: none;
    line-height: 26rem;
}

.copyright {
    height: 45rem;
    text-align: center;
    background-color: #dcdce6;
}

.copyright p {
    padding-top: 15rem;
    color: #9999a6;
    font-size: 13rem;
    font-family: "Arial";
    line-height: 18rem;
}

.burger {
    display: none;
}

.burger div {
    margin: 6rem 0;
    width: 35rem;
    height: 5rem;
    background-color: black;

}

@media screen and (max-width:1150px) {

    .Phone,
    .Email-and-Skype,
    .CallButton {
        display: none;
    }

    .burger {
        display: block;
    }

    .Phone1 {
        width: 153px;
    }
}

@media screen and (max-width:1050px) {
    .Phone1 {
        width: 136px;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 0.6px;
    }

    .Phone1 {
        width: 120px;
    }
}

/* index2.html */

.OurBuilds,
.contacts-and-geo {
    margin: auto;
    width: 960px;
    margin-top: 40px;
}

.OurBuilds h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.OurBuilds p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.OurBuilds p:last-child {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.paragraph {
    margin-top: 22px;
    margin-bottom: 26px;
}

.OurBuilds table {
    width: 960px;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

.OurBuilds thead {
    height: 45px;
    background-color: #1f1f56;
}

.OurBuilds th {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: left;
    padding-left: 20px;
}

.OurBuilds th:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: right;
    padding-right: 20px;
}

.OurBuilds td {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-left: 20px;
}

.OurBuilds tbody tr {
    width: 960px;
    height: 41px;
    box-shadow: inset 0px -1px 0px #cecedd;
    background-color: #e4e4ec;
    cursor: url(../css/cursor\ \(1\).cur), auto;
}

.OurBuilds tr>td:last-child {
    text-align: right;
    padding-right: 20px;
}

.OurBuilds tbody tr:hover {
    background-color: #fd8300;
}

.OurBuilds tr.tr5 {
    box-shadow: none;
}

.OurBuilds .tr1:hover>td,
.OurBuilds .tr2:hover>td,
.OurBuilds .tr3:hover>td,
.OurBuilds .tr4:hover>td,
.OurBuilds .tr5:hover>td {
    color: #fff;
}

.OurBuilds a {
    font-size: 14px;
    line-height: 4em;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.OurBuilds a:hover {
    color: #1f1f56;
    text-decoration: none;
}

#hr2 {
    border: none;
    border-top: 1px solid #e4e4ec;
    width: 960px;
    margin-bottom: 36rem;
}

.paragraph2 {
    margin-top: 20px;
}

/* index3.html */

.contacts-container {
    display: flex;
    max-width: 900px;
    justify-content: space-between;
}

.container:last-child {
    width: 260px;
}

.container:last-child p {
    margin-bottom: 20rem;
}

.contacts-and-geo h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 27rem;
}

.container h4 {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}


.container p {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.container:first-child a {
    font-size: 18px;
    line-height: 1.65em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}



.container a {
    font-size: 18px;
    line-height: 1.95em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    box-shadow: 1;
}

.container a:hover {
    text-decoration: underline;
}

.phones-container {
    width: 160rem;
}

.container a.mailto {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.p-last {
    width: 216rem;
}

.contacts-geo {
    margin-bottom: 33rem;
}

.geolocation {
    display: flex;
    column-gap: 10px;
}

.geolocation table {
    border-spacing: 10px;
}

.geolocation table>td:last-child {
    height: 100px;
}

input {
    border: none;
    outline: none;
    padding-left: 15px;
}

.callform h4 {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-left: 12rem;
}

.callform th {
    width: 228rem;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.callform td {
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.message-tema {
    width: 460px;
}

td.td-text {
    padding-bottom: 80px;
}

.send {
    width: 80.36px;
    border-radius: 21px;
    background-color: #fd8300;
    padding: 12rem 31rem;
}

.send a {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}

.send:hover {
    background-color: #fff;
}

.send:hover a {
    color: #000;
}

.bottom-undertable {
    display: flex;
    column-gap: 30rem;
}

.tick {
    padding-top: 15px;
}

.bottom-undertable .tick a:last-child {
    font-size: 13rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.bottom-undertable .tick a:first-child::before {
    content: url(../css/img/notick.png);
    position: relative;
    top: 2rem;
    margin-right: 10px;
}

.bottom-undertable .tick a:first-child::before {
    content: url(../css/img/tick.png);
    position: relative;
    top: 2rem;
    margin-right: 10px;
}